#login-form-inner{
    height: 521px;
    transform: scale(1.5,1.5);
}

#register-form-inner {
    height: 590px;
    transform: scale(1.4,1.4);
}

#register-result {
    transform: translate(-150px, -30px);
}